<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<style>
{{FONT_CSS}}
:root { {{TOKENS_CSS}} }
{{BASE_CSS}}
</style>
</head>
<body>
<div class="canvas">
  <div class="cover-photo"><img src="{{PHOTO_SRC}}"></div>
  <div class="cover-sep"></div>
  {{LOGO_HTML}}
  <div class="chip">{{CHIP}}</div>
  <div class="cover-info">
    <div class="cover-kor">{{TITLE_KOR}}</div>
    <div class="cover-eng">{{TITLE_ENG}}</div>
    <div class="cover-rule"></div>
    <div class="cover-date">{{DATE_LOCATION}}</div>
  </div>
</div>
</body>
</html>
